body {
  font-family: "Montserrat", sans-serif;
}

#sidebar {
  min-width: 30%;
  max-width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(209, 242, 253);
  padding: 1rem 0.5rem 1rem;
  overflow: auto;
  box-sizing: border-box;
  /*flex-grow: 1;*/
}

#contentContainer {
  height: 100%;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  flex-grow: 1;
}

#content {
  padding: 0 1rem 0.5rem;
  height: auto;
  width: 100%;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  position: absolute;
  top: 3.6rem;
  bottom: 0;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: rgb(77, 77, 77);
  color: white;
  z-index: 10;
  border-bottom: 1px solid black;
}

#logo {
  height: 2.5rem;
  width: 2.5rem;
  padding: 0.2rem 1rem;
  color: white;
}

#ontologyHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  border-bottom: 1px solid black;
  align-items: center;
}

#metadata {
  padding: 0.5rem 1rem;
  width: 100%;
  box-sizing: border-box;
}

#metadata > p {
  margin-left: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#metadata > h3 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color: #1d6488;
}

.landingContainer {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.srmMappingList > .MuiListItem-container:hover {
  background-color: rgb(209, 242, 253);
}
