.sidebar {
  width: 30%;
  left: 0;
  top: 0;
  background-color: rgb(209, 242, 253);
  padding: 1rem 0.5rem 1rem;
  flex-grow: 1;
}

.App {
  display: flex;
  min-height: 100vh;
  max-height: fit-content;
  gap: 20px;
}
